body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, #000000, #1a0f00);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    background: rgba(0,0,0,0.8);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(255,180,50,0.6);
  }
  
  .logo {
    width: 220px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 15px gold);
  }
  
  h1 {
    color: gold;
    font-size: 36px;
  }
  
  p {
    color: #ffdd99;
    font-size: 18px;
  }
  
  .list a {
    display: block;
    margin: 10px;
    color: gold;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
  }
  
  .list a:hover {
    transform: scale(1.05);
    color: orange;
  }
  
  .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 30px;
    background: linear-gradient(45deg, gold, orange);
    color: black;
    text-decoration: none;
    transition: 0.2s;
  }
  
  .btn:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px gold;
  }
  .main-video {
    width: 100%;
    max-width: 720px;   /* controls how big it is */
    height: auto;
    border-radius: 20px;
    border: 3px solid gold;
    box-shadow: 0 0 25px rgba(255,180,50,0.6);
    margin: 30px auto;  /* centers it */
    display: block;
  }
  
  